@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Flex */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-between{
    justify-content: space-between;
}

/* Buttons */

.button-blue{
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
    border: 0;
    font-size: 13px;
}

.button-white{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
}

/* Margin, padding */

.margin-top{
    margin-top: 20px;
}

.margin-20{
    margin: 20px 0;
}

.margin-30{
    margin: 30px 0;
}

.margin-50{
    margin: 50px 0;
}

.padding-10{
    padding: 10px 25px;
}

.padding-top{
    padding: 10px 0;
}

/* Fonts */

.small-font{
    font-size: 13px;
}

.big-font{
    font-size: 35px;
}

/* Containers */

.center{
    margin: auto;
}

.container-size{
    width: 60%;
}

ul li{
    list-style-type: none;
    padding: 10px 0;
}

/* Header */

header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    height: 60px;
    line-height: 60px;
}

nav{
    justify-content: space-between;
}

header nav .logo{
    vertical-align: middle;
    height: 20px;
}

header nav span{
    padding: 0 15px;
}

header .box-1, .box-2{
    padding: 0 15px;
}

nav span{
    display: inline-block;
}

header span:hover{
    border-bottom: 1px solid black;
}

/* Main */

/* Section-1 */

.section-1{
    background-color: #b4d0e7;
}

.section-1 > .container-1{
    width: 65%;
    position: relative;
    top: 50px;
}

.container-1 > h1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    padding: 80px 0 20px 0;
}

.container-1 img{
    margin-top: 20px;
}

.fa-solid.fa-arrow-down{
    font-size: 40px;
    margin-top: 30px;
}

/* Section-2 */

.section-2 > .container-2{
    margin-top: 120px;
    margin-bottom: 50px;
}

.columns{
    height: 780px;
}

.selection{
    padding-right: 30px;
}

.container-2 .circle{
    display: inline-block;
    padding: 6px;
    border-radius: 50%;
    vertical-align: top;
}

.container-2 .circle-1{
    outline: 3px solid #0061ff;
    outline-offset: -2px;
}

.container-2 .circle-2{
    border: 1px solid lightgray;
}

.container-2 span{
    margin: 0 5px;
}

.fa-solid.fa-circle-dot{
    color: #0061ff;
}

.column{
    height: 100%;
    border: 1px solid lightgrey;
}

.part-top{
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.flex-basis{
    flex-basis: calc((100% / 3) - 3%);
}

.section-2 hr{
    width: 40px;
    margin-left: 25px;
    color: lightgrey;
}

.fa-solid.fa-check{
    color: #0061ff;
}

/* Section-3 */

.container-3{
    border: 1px solid lightgrey;
}

.card-1{
    width: 70%;
}

.card-1 > p{
    margin: 40px 0 20px 0;
}

.card-2{
    width: 30%;
    position: relative;
}

.card-2 > button{
    position: absolute;
    right: 0;
    top: 10px;
} 

/* Section-4 */

.section-4, .section-6{
    margin: 100px 0;
}

.container-4 .card-left{
    flex-basis: 60%;
}

.card-left > img{
    display: block;
    width: 100%;
}

.container-4 .card-right{
    flex-basis: 34%;
}

/* Section-5 */

.container-5 .boxes{
    width: 100%;
    flex-wrap: wrap;
}

.boxes .single-box{
    flex-basis: calc((100% / 3) - 5%);
    margin: 20px 0;
}

.single-box .top-piece img{
    display: block;
    width: 100%;
}

.single-box .bottom-piece p{
    padding-top: 20px;
}

.single-box .bottom-piece h3{
    padding-top: 10px;
    font-size: 18px;
}

/* Section-7 */

.section-7{
    width: 100%;
}

.container{
    flex-basis: calc(100% / 3);
    flex-wrap: wrap;
}

.square{
    height: 210px;
    flex-basis: calc(100% / 2);
}

.center-container{
    background-color: #f5f5f5;
    padding: 40px;
}

.section-7 hr{
    width: 80px;
    margin: 30px 0;
}

.square.square-1{
    background-color: #a2d39b;
    outline: 10px solid #d1e9cd;
    outline-offset: -10px;
}

.square.square-2{
    background-color: #61082b;
}

.square.square-3{
    background-color: #0093ce;
}

.square.square-4{
    background-color: #ff1c1c;
}

.square.square-5{
    background-color: #d5001f;
}

.square.square-6{
    background-color: #b4d0e7;
}

.square.square-7{
    background-color: #0d2481;
}

.square.square-8{
    background-color: #ffd830;
}
